body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    size: 10px;
}


/********************* commodities *************************/
.commonbtn{
    border: none;
    background: none;
}
.commonbtn:hover{
    cursor:pointer;
}

.btn-black{
    background-color: black;
    border:none;
    color: white;
}
.container{
    width: 80vw;
}

.largefont{
    font-size: 4rem;
}

.midfont{
    font-size: 2rem;
}
/*********************Section 1 ********************/

.headerSection{
    background-color: #F2DEDF;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.loginbtn{
    border: 0.1rem solid black;
    padding:0.3rem 2.5rem 0.3rem 2.5rem;
}

.midOfHeader{
    display: flex;
    justify-content:space-evenly;
    align-items: flex-start;
    gap:0rem 6rem;
}

.main-img{
    width: 30rem;
}

.btn-black{
    height: 2.5rem;
    width: 9rem;
    font: 800;
}
.hr{
    position: relative;;
}

.hr>img{
    padding: 1rem;
    position: absolute;
    left: 0rem;
    height: 5rem;
    width: 100%;
    object-fit:contain;
    
}


/*********************** Section 1 ***************************/

.section2{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem auto;
}


.section2-imgs{
    display: flex;
    justify-content: space-between;
    height: 27rem;
}

.section2-imgs>img{
    width: 25rem;
}